header {
    display: flex;
    align-items: center;
    column-gap: 64px;

    width: 100%;
    max-width: 1440px;
    padding-top: 60px;
}

header img {
    width: 70px;
    height: auto;
}

.navigation {
    display: flex;
    align-items: center;
    column-gap: 48px;

    list-style: none;
}

.navigation_link {
    font-size: 15px;
    font-weight:300;
    letter-spacing: 2px;
    text-transform: uppercase;

    position: relative;
}

.navigation_link:hover {
    color: var(--orange);
}

.navigation_link::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 60px;
    height: 1px;
    background: var(--orange);

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;

}

.navigation_link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s;
}


.navigation_social {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.navigation_social svg {
    width: 20px;
    height: 20px;
    opacity: 0.6;

    transition: all 0.4s;
}

.navigation_social svg:hover {
    opacity: 1;
    transform: translateY(-5px);
}