main {
    flex: 1;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1440px;
}

.main_info {
    width: 100%;
    max-width: 500px;
}

.main_info p {
    font-size: 15px;
    margin: 20px 0 28px;
}

.main_info div {
    display: flex;
    column-gap: 32px;
}

.main_info div a {
    width: 50%;
    padding: 10px 0;
    border-radius: 10px;

    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

.main_info div a {
    background: var(--orange);
}

.imagem_principal {
    justify-content: space-between;
}
